* {
    transition: 0.25s;
}

body {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #eee;
    color: #555;
}

#page-header {
    background: #eee;
    color: #888;
    padding: 30px 0;
}

#page-header .header-top .row-wrapper {
    float: left;
}

#page-header .header-top img {
    float: left;
    height: 100px;
    opacity: 0.7;
    width: 100px;
}

#page-header .header-top .header-title {
    float: left;
    height: 100px;
    padding: 0 20px 0 10px;
    position: relative;
}

#page-header .header-top .header-name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
}

#page-header .header-top .header-description {
    bottom: 0;
    font-size: 12px;
    font-style: italic;
    position: absolute;
}

#page-header .header-bottom {
    border-top: 1px solid #ccc;
    margin-top: 30px;
}

#page-header  .header-bottom .nav li.active {
    background: #e5e5e5;
    color: #555;
    font-weight: bold;
}

#page-header .header-bottom .nav li a {
    color: #888;
    padding: 10px 25px;
    text-align: left;
}

#page-header .header-bottom .nav li a:focus,
#page-header .header-bottom .nav li a:hover {
    background-color: transparent;
    color: #555;
    font-weight: bold;
}

#page-content h1 {
    margin-top: 0;
}

#page-content #article-header,
#page-content #article-footer {
    font-style: italic;
    margin: 25px 20px;
}

#page-content #article-footer {
    border-top: 1px solid #ccc;
    margin-top: 40px;
    padding-top: 20px;
}

#page-id-blog-index #page-content ul {
    margin-top: 20px;
}

#page-id-blog-index #page-content ul li {
    margin: 10px 0;
}

/*
 * Desktop customizations
 */
@media (min-width: 768px) {
    #page-container {
        padding-top: 60px;
    }

    #page-header, #page-content {
        min-height: 350px;
        padding: 30px 0;
    }

    #page-header {
        border-right: 1px solid #ccc;
    }

    #page-header .header-top {
        padding: 0;
    }

    #page-header .header-top .row-wrapper {
        float: right;
    }

    #page-header .header-bottom .nav li a {
        text-align: right;
    }

    #page-content {
        padding-left: 20px;
    }
}

/*
 * Bootstrap customizations
 */
blockquote {
    border: none;
    background: #e3e3e3;
    font-size: 14px;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}

dl.dl-horizontal dt {
    width: 100px;
}

dl.dl-horizontal dd {
    margin-left: 120px;
}

pre {
    border: 0;
    margin-left: 10px;
}

pre, code {
    background: transparent;
    color: inherit;
    font-style: italic;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
