{% extends "blog_article.html" %}

{% block article_title %}Emotional Intelligence{% endblock %}

{% block article_body %}
    <header id="article-header">
        <p>
            This article is my thoughts and summary on
            <a href="http://www.bakadesuyo.com/2017/08/emotionally-intelligent/" target="_blank">
                New Neuroscience Reveals 3 Secrets That Will Make You Emotionally Intelligent
            </a>
            by Eric Barker.
        </p>
    </header>

    - understanding emotions and what they are...
        - "Emotions aren’t hardwired or universal. They’re concepts that we learn. And so they can differ from culture to culture."
        - "Utka Eskimos have no concept of “Anger.” The Tahitians have no concept of “Sadness.” This last item is very difficult for Westerners to accept… life without sadness? Really? When Tahitians are in a situation that a Westerner would describe as sad, they feel ill, troubled, fatigued, or unenthusiastic, all of which are covered by their broader term pe’ape’a."
        - "If you had been raised somewhere different, you might feel something different. Emotions vary between people ... And they vary dramatically between cultures."
            - "But if you only have concepts for “anger”, “happiness”, and “sadness” then that’s all you’re ever going to see."
            - Often we pick these concepts up just from living in a culture, others we’re taught explicitly as children. And they’re transmitted from one person to the next, from one generation to the next.
            - When we experience a sensation, an emotion concept is triggered like a memory and actually constructed by the brain. It’s nearly immediate and you’re largely unaware of the process.
            - "If your doctor came back with a diagnosis of “you’re sick”, you’d sue the quack for malpractice. Doctors need to be able to distinguish between “chancre” and “cancer.” And you need to know the difference between “sad” and “lonely.”"
    - Eric's 3 steps to developing a better emotional intelligence:
        - Improve emotional granularity
            - "Having lower emotional granularity is associated with a lot of bad things — like emotional and personality disorders.""
            - learn to have a more granular understanding of emotions
            - "when you’re able to finely discern what you’re feeling, you’re able to do something constructive to deal with the problems causing them."
                - "If the only negative emotion concept you have is “me feel bad” you’re going to have a difficult time making yourself feel better. So you’ll resort to ineffective coping methods like, oh, bourbon."
                - "But if you’re able to distinguish the more specific “I feel alone” from merely “me feel bad” you’re able to deal with the problem: you call a friend."
        - Improve emotional dictionary
            - "Learning more emotion words is the key to recognizing more subtle emotion concepts."
            - "So are you angry, furious, or just cranky? Recognize your emotions. Make the feelings distinct."
            - "learn new emotion words so you can feel new emotions and increase your emotional granularity."
        - Create your own words to better describe your emotions
            - If dictionary words are not enough to describe an emotion, give it your own name to give it granularity and avoid it being bunch with a more general concept.
            - "Those are unique sensations. Give them an emotion. Learn to distinguish them from the other forms of dread or elation."
            - "it might feel a little silly at first but don’t let that hold you back. In Japan they have “age-otori” — “The feeling of looking worse after a haircut.” We’ve all felt that. It just took one emotionally intelligent genius to give it a name."
{% endblock %}
